rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      allow get: if true;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.createdBy;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.createdBy;
      allow list: if request.auth != null && request.auth.uid == resource.data.createdBy;
    }

    match /events/{eventId}/talk/{talkId} {
      allow get: if true;
      allow list: if true;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.createdBy;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.createdBy;
    }

    // User private data - only the user can access their own
    match /users/{userId} {
      allow get: if true;
      allow list: if false;
      allow write: if request.auth != null && request.auth.uid == userId;

      match /private/user {
        allow list: if false;
        allow read, write:if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}