// All @use imports must come first
@use 'styles/variables' as *;
@use 'styles/mixins' as *;
@use 'styles/layout';
@use 'styles/buttons';
@use 'styles/forms';
@use 'styles/modal';
@use 'styles/events';
@use 'styles/talks';
@use 'styles/responsive';

body {
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: $color-black;
    background-color: $color-background;
}
